@using MetaFrm.Control
@using MetaFrm.Database
@using MetaFrm.Management.Razor.Models
@using MetaFrm.Razor.Essentials
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

<TitleControl Title="@this.GetAttribute("Description")"></TitleControl>

<DataGridControl TItem="AccountModel" @ref="this.DataGridControl" DataItems="this.B004ViewModel.SelectResultModel" PagingEnabled="true"
                 MovePage="this.Search"
                 RowModify="this.RowModify"
                 Columns="@(new ColumnDefinitions[] {
                    new(DbType.NVarChar, SortDirection.Ascending, Alignment.NotSet, nameof(AccountModel.NICKNAME), "Nickname"),
                    new(DbType.NVarChar, SortDirection.Normal, Alignment.NotSet, nameof(AccountModel.FULLNAME), "Fullname", "d-none d-md-table-cell"),
                    new(DbType.NVarChar, SortDirection.Normal, Alignment.NotSet, nameof(AccountModel.PHONENUMBER), "Phone number", "d-none d-lg-table-cell"),
                    new(DbType.NVarChar, SortDirection.Normal, Alignment.NotSet, nameof(AccountModel.EMAIL), "Email"),
                    new(DbType.NVarChar, SortDirection.Normal, Alignment.NotSet, nameof(AccountModel.RESPONSIBILITY_NAME), "Permissions", "d-none d-sm-table-cell"),
                    new(DbType.DateTime, SortDirection.Normal, Alignment.Center, nameof(AccountModel.INACTIVE_DATE), "Inactive", "d-none d-xl-table-cell", "", "", "yyyy-MM-dd HH:mm")})">
    <SearchInputControl>
        <input type="text" class="form-control rounded-start" placeholder="Search" @bind-value="@this.B004ViewModel.SearchModel.SEARCH_TEXT" @onkeyup="@SearchKeydown" />
    </SearchInputControl>
    <SearchButtonControl>
        <button class="btn btn-outline-primary btn-rounded-end" type="submit" @onclick="(() => this.OnSearch())">
            <span class="oi oi-magnifying-glass" />
        </button>
    </SearchButtonControl>
</DataGridControl>

<ModalControl TItem="AccountModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.USER_ID))" HeaderText="@(this.SelectItem == null || this.SelectItem.USER_ID == null ? "New" : "Edit")">
    <Control>
        <EditForm class="container" Model="@this.SelectItem" OnValidSubmit="this.Save">
            <DataAnnotationsValidator />

            <FieldControl Label="User ID" Value="this.SelectItem.USER_ID"></FieldControl>
            <div class="row">
                <FieldControl Label="Email">
                    <Control>
                        <InputText id="email" class="form-control" placeholder="Email" @bind-Value="this.SelectItem.EMAIL" />
                        <ValidationMessage For="@(()=>this.SelectItem.EMAIL)" />
                    </Control>
                </FieldControl>
                <FieldControl Label="Nickname">
                    <Control>
                        <InputText id="nickname" class="form-control" placeholder="Nickname" @bind-Value="this.SelectItem.NICKNAME" />
                        <ValidationMessage For="@(()=>this.SelectItem.NICKNAME)" />
                    </Control>
                </FieldControl>
            </div>
            <div class="row">
                <FieldControl Label="Fullname">
                    <Control>
                        <InputText id="fullname" class="form-control" placeholder="Fullname" @bind-Value="this.SelectItem.FULLNAME" />
                        <ValidationMessage For="@(()=>this.SelectItem.FULLNAME)" />
                    </Control>
                </FieldControl>
                <FieldControl Label="Phone number">
                    <Control>
                        <InputText id="phonenumber" class="form-control" placeholder="Phone number" @bind-Value="this.SelectItem.PHONENUMBER" />
                        <ValidationMessage For="@(()=>this.SelectItem.PHONENUMBER)" />
                    </Control>
                </FieldControl>
            </div>

            <div class="row">
                <FieldControl Label="Permissions">
                    <Control>
                        <InputSelect class="form-select" @bind-Value="@this.SelectItem.RESPONSIBILITY_ID">
                            <DictionaryControl Code="METAFRM_MGMT.RESPONSIBILITY" Items="this.ResponsibilityItems" ResultEvent="this.OnResultEventResponsibilityItems" AppendEmptyItem="true">
                                <Control>
                                    @if (this.ResponsibilityItems != null)
                                        foreach (var item in this.ResponsibilityItems)
                                        {
                                            <option Value="@(item.Int("RESPONSIBILITY_ID"))">@item.String("NAME")</option>
                                        }
                                </Control>
                            </DictionaryControl>
                        </InputSelect>
                        <ValidationMessage For="@(()=>this.SelectItem.RESPONSIBILITY_ID)" />
                    </Control>
                </FieldControl>
            </div>

            <FieldControl Label="Inactive" CssClassControl="row">
                <Control>
                    <div class="py-1 col-lg-6">
                        <InputDate id="inactivedate" class="form-control" placeholder="Inactive Date" Type="InputDateType.Date" @bind-Value="this.SelectItem.INACTIVE_DATE" @bind-Value:format="yyyy-MM-dd" />
                    </div>
                    <div class="py-1 col-lg-6">
                        <InputDate id="inactivetime" class="form-control" placeholder="Inactive Time" Type="InputDateType.Time" @bind-Value="this.SelectItem.INACTIVE_DATE" @bind-Value:format="HH:mm" />
                    </div>
                    <ValidationMessage For="@(()=>this.SelectItem.INACTIVE_DATE)" />
                </Control>
            </FieldControl>

            <CommandControl TItem="AccountModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.USER_ID))" SaveIsSubmit="true" />
        </EditForm>
    </Control>
</ModalControl>